@import "./fonts/fonts.css";
@import "tailwindcss";

@theme{
 --font-sora: 'Sora', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

.cursor{
   background-color: #111;
   height: 32px;
   width: 32px;
   border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}
*{
    /* cursor: none; */
}